-# frozen_string_literal: true
- # Form for creating or updating a question using the simple_form gem.

= simple_form_for(@question) do |f|
  .card-body
    = f.input :content, label: "Question", required: true, input_html: { maxlength: 255 }, placeholder: 'Enter question content'
    = f.input :sensitivity, as: :boolean, label: "Sensitive"
    = f.association :ques_category, collection: @ques_categories.where(active: true), include_blank: 'Please select one...', required: true, input_html: { class: 'mb-3 ques-category-field' }, label: "Question Category"
  .card-footer.d-flex
    %button.btn.btn-success{ type: 'submit' }
      Save
    = link_to 'Back', questions_path, class: 'btn btn-dark ms-auto'
