-# app/views/answer_alerts/new.html.haml
-# Main Haml template for creating a new answer alert through a form

.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header Answer Alert 
      = simple_form_for @answer_alert do |f|
        = f.error_notification

        .form-inputs
          = f.input :commit, as: :text, required: true, label: 'Your alert', input_html: { rows: 4 }
          = f.input :answer_id, as: :hidden, input_html: { value: @answer_alert.answer_id }

        .form-actions
          = f.button :submit, 'Submit Alert', class: 'btn btn-success'
          = link_to 'Cancel', answers_path, class: 'btn btn-danger'

