-# app/views/future_message_alerts/new.html.haml
- # This file is part of the views for editing existing future message alerts.
- # It provides a form for users to update their alerts tied to future messages.
.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header Edit Alert
      = simple_form_for @future_message_alert do |f|
        = f.error_notification
        = f.input :commit, as: :text, required: true, label: 'Your alert', input_html: { rows: 4 }
        = f.input :answer_id, as: :hidden, input_html: { value: @future_message_alert.future_message_id }
        .actions
          = f.button :submit, 'Update', class: 'btn btn-success ms-auto'
          = link_to 'Back', future_messages_path, class: 'btn btn-dark ms-auto'
